# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main



stages:
  - stage: Build
    jobs:
    - job: Build
      displayName: Build 
      pool: 
       vmImage: ubuntu-latest
      steps:
        - task: Npm@1
          inputs:
            command: 'install'
        - task: Npm@1
          inputs:
            command: 'custom'
            customCommand: 'runbuild'
  - stage: 
    jobs:
      - job: Deploy
        displayName: Deploy to Webapp
        pool: 
         vmImage: ubuntu-latest
         steps:
          - task: DownloadBuildArtifacts@1
            inputs:
              buildType: 'current'
              downloadType: 'single'
              artifactName: 'drop'
              downloadPath: '$(System.ArtifactsDirectory)'
          - task: AzureRmWebAppDeployment@5
            inputs:
              ConnectionType: 'AzureRM'
              azureSubscription: 'Devops Engineer(e4a7281d-ccc9-4c4d-83c4-7ff2b774cbc6)'
              appType: 'webAppLinux'
              WebAppName: 
              packageForLinux: '$(System.DefaultWorkingDirectory)/**/*.drop'
              RuntimeStack: 'STATICSITE|1.0'
              DeploymentTypeLinux: 'oneDeploy'
      


      


